@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "UAF-Sans";
    src: url("public/fonts/UAFSans-Regular.ttf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

*{
    @apply font-[UAF-Sans] transition duration-300 text-black
}

/*Editor*/

#editor a {
  @apply underline text-blue-400 pointer-events-auto cursor-pointer hover:text-blue-300
}

#editor code {
  @apply bg-blue-100 text-black rounded py-1 px-2 before:content-['\`'] after:content-['\`']
}

#editor h1 {
  @apply text-2xl font-bold;
}

#editor h2 {
  @apply text-xl font-bold;
}

#editor h3 {
  @apply text-lg font-semibold;
}

#editor h4 {
  @apply text-base font-medium;
}

#editor h5 {
  @apply text-sm font-medium;
}

#editor p {
  @apply text-base leading-relaxed;
}
#editor>*{
    @apply relative transition-[background-color] py-2
}

#editor span{
  @apply text-inherit
}

.empty{
    @apply before:content-[attr(data-placeholder)] before:absolute text-gray-200
}

.dragged{
    @apply bg-[#F39200]
}

.add-before::before{
    @apply content-[""] block h-[4px] left-0 right-0 top-[-4px] bg-[#F39200] absolute
}

.add-after::after{
    @apply content-[""] block h-[4px] left-0 right-0 bottom-[-4px] bg-[#F39200] absolute
}

.add-between::after {
    @apply content-[""] block h-[4px] left-0 right-0 bottom-[-20px] bg-[#F39200] absolute
}

.add-inside::after{
    @apply content-[""] block h-full w-[4px] left-0 bottom-0 bg-[#F39200] absolute opacity-50;
    left:var(--drop-left, 0px);
}

.dragButton{
    @apply left-[5px] absolute w-[40px] h-[20px] cursor-grab flex items-center justify-center transition-opacity
}





/*Control Panel*/
.stylingButton{
    @apply px-5 py-2 cursor-pointer hover:bg-yellow-500 transition-[background-color] rounded
}

.active{
    @apply bg-[#F39200]
}   